.contenedorPrincipal {
    display: flex;
    justify-content: center;
}

.example-card {
    margin-top: 5vh;
    width: 30%;
    height: 50vh;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

mat-card-header {
    height: 10%;
}

mat-divider {
    margin-top: 15px;
    margin-bottom: 10px;
}

#contenedorFormulario {
    margin-top: 30px;
    height: 80%;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

#boton-modificar {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.errorValidacion {
    color: darkred;
}
  