<div class="contenedorPrincipal">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Modificar contraseña</mat-card-title>
            <mat-card-subtitle>Introduce tu antigua contraseña y posteriormente la nueva</mat-card-subtitle>
        </mat-card-header>

        <mat-divider></mat-divider>
        
        <mat-card-content id="contenedorFormulario">
            <form [formGroup]="form">
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña actual</mat-label>
                    <input matInput formControlName="currentPassword" [type]="hideCurrentPassword ? 'password' : 'text'">
                    <ng-container *ngIf="form.controls.currentPassword.errors">
                        <div class="errorValidacion" *ngIf="form.controls.currentPassword.errors.required"><small>Campo requerido</small></div>
                        <div class="errorValidacion" *ngIf="form.controls.currentPassword.errors.errorCurrentPassword"><small>La contraseña introducida no coincide con la actual</small></div>
                    </ng-container>
                    <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
                      <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'">
                    <ng-container *ngIf="form.controls.newPassword.errors">
                      <div class="errorValidacion" *ngIf="form.controls.newPassword.errors.required"><small>Campo requerido</small></div>
                    </ng-container>
                    <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword">
                      <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button id="boton-modificar" mat-raised-button [disabled]="form.invalid" color="primary" (click)="modificarPassword()">Modificar contraseña</button>
            </form>
        </mat-card-content>
    </mat-card>      
</div> 
